@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($ssh-bp) {
    font-size: calc(100vw / 1600 * 10);
  }

  // @include breakpoint($cos-bp) {
  //   font-size: calc(100vw / 1330 * 10);
  // }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 1024 * 10);
  }

  // @include breakpoint($jb-bp) {
  //   font-size: calc(100vw / 850 * 10);
  // }

  @include breakpoint($lb-bp) {
    font-size: calc(100vw / 650 * 10);
  }


  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }

}



*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Manrope';
    font-style: normal;
}


img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}


svg {
  transition: all 0.1s linear;
}

.paddingContainer {
  padding-left: 10rem;
  padding-right: 10rem;

  @include breakpoint($ssh-bp) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @include breakpoint($xl-bp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.paddingContainer-xl {
  
  @include breakpoint($xl-bp) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


@import './blocks/page.scss';
@import './blocks/btns.scss';
@import './blocks/breadcrumbs.scss';
@import './blocks/dropdown.scss';
@import './blocks/links-table.scss';

@import './blocks/header.scss';
@import './blocks/swiper.scss';
@import './blocks/footer.scss';
@import './blocks/main.scss';

@import './blocks/main.scss';

@import './blocks/general-info.scss';
@import './blocks/documents.scss';
@import './blocks/other.scss';
@import './blocks/students.scss';

@import './blocks/practice.scss';

@import './blocks/links.scss';

@import './blocks/news.scss';

@import './blocks/gallery.scss';

@import './blocks/edu-info.scss';

@import './blocks/management-info.scss';
@import './blocks/education-info.scss';

