.breadcrumb-wrapper {
  display: flex;
  align-items: center;

  padding: 0.3rem 0;
  margin: 3rem 0;

  @include breakpoint($lg-bp) {
    display: none;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  padding: 0;
  margin-bottom: 0;
}

.breadcrumb a::after {
  content: "";
  display: inline-block;
  margin: 0 2rem;

  border-top: 0.2rem solid #a6414d;
  border-right: 0.2rem solid #a6414d;
  transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
}

.breadcrumb span,
.breadcrumb a {
  font-weight: 400;
  font-size: 1.6rem;
  color: #000015;
  line-height: 150%;
  text-decoration: none;

  transition: all 0.2s linear;
}

.breadcrumb span {
  color: rgba(0, 0, 21, 0.5);
}

.breadcrumb a:hover {
  color: $primary;
}
