.filled-btn {
  width: 100%;
  max-width: 19.2rem;
  height: 5.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.01em;
  color: white;

  padding: 1.5rem;

  background-color: #36456f;
  border: 0.1rem solid #36456f;
  border-radius: 0.6rem;

  transition: all 0.2s ease;

  svg {
    width: 3.1rem;
    height: 1.3rem;
    fill: #000015;
  }

  &:hover {
    color: #36456f;
    background-color: transparent;

    svg {
      fill: #36456f;
    }
  }
}

.hollow-btn {
  width: 100%;
  height: 5.2rem;

  display: flex;
  align-items: center;

  font-size: 2rem;
  color: #000015;
  text-align: center;
  justify-content: center;
  gap: 2rem;

  padding: 1.4rem 3.2rem;

  background-color: white;
  border: 0.1rem solid white;
  border-radius: 0.6rem;

  transition: all 0.2s ease;

  svg {
    width: 3.1rem;
    height: 1.3rem;
    fill: #000015;
  }

  &:hover {
    color: white;

    background-color: #36456f;
    border-color: #36456f;

    svg {
      fill: white;
    }
  }
}
