.contacts-content {
    display: flex;
    gap: 2rem;

    @include breakpoint($lb-bp) {
        flex-direction: column;
    }

    .contacts-content__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-radius: 1rem;
        background: #EBEDF1;
        padding: 2rem;
        width: 70%;

        @include breakpoint($lb-bp) {
            width: 100%;
        }

        .contacts-content__item {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            p:first-child {
                color: #000015;
                font-size: 2rem;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.02rem;
            }

            p:last-child, a {
                color: #000015;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.016rem;
                text-decoration: none;
            }
        }
    }

    .contacts-content__map {
        overflow: hidden;
        border-radius: 1rem;
        width: 91.2%;
        filter: grayscale(1);

        @include breakpoint($lb-bp) {
            width: 100%;
            height: 49.3rem;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}