.table-wrapper {
  overflow: auto;
  width: 100%;
  max-width: 100%;
  margin-bottom: 4rem;
}

table {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  line-height: normal;
  thead {
    font-size: 1.6rem;

    background: #ebedf1;
    border-radius: 1rem 1rem 0 0;

    th {
      align-items: center;

      font-weight: 500;
      text-align: left;

      padding: 1.2rem 1.5rem;

      &:first-child {
        border-left: 0.1rem solid #ebedf1;
      }

      &:not(:last-child) {
        border-right: 0.1rem solid #ffffff;
      }
    }
  }

  tr {
    border-bottom: none;
  }

  td {
    font-size: 1.4rem;
    text-align: left;

    padding: 1.2rem 1.5rem;

    border: 0.1rem solid #ebedf1;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
  }

  a {
    color: #36456f;
    text-decoration: none;
  }
}

.edu-info__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;

  .info__item:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .edu-info__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .info__item:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.general-info {
  width: 100%;
}