.footer {
    margin-top: 18rem;
    background: #EBEDF1;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint($xl-bp) {
        margin-top: 9rem;
    }

    @include breakpoint($sm-bp) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .footer-upperContainer__imgContainer {
        width: 18%;

        @include breakpoint($xl-bp) {
            width: 34%;
        }

        @include breakpoint($sm-bp) {
            width: 65%;
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .footer-content {
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;

        @include breakpoint($lb-bp) {
            flex-direction: column;
        }


        .footer-content__links {
            display: flex;
            gap: 2rem;

            @include breakpoint($xl-bp) {
                flex-direction: column;
            }

            @include breakpoint($sm-bp) {
                gap: 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @include breakpoint($sm-bp) {
                    gap: 1rem;
                }
            }
            
            ul:first-child {
                width: 57%;

                @include breakpoint($xl-bp) {
                    width: 100%;
                }
            }

            a {
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.7rem;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000015;
                text-decoration: none;

                @include breakpoint($sm-bp) {
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }
        }

        .footer-content__contacts {
            width: 42%;

            @include breakpoint($ssh-bp) {
                padding-left: 6rem;
                padding-right: 6rem;
            }

            @include breakpoint($xl-bp) {
                width: 80%;
            }

            @include breakpoint($lb-bp) {
                width: 100%;
                padding: 0rem;
                margin-top: 2rem;
            }

            h2 {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.7rem;
                letter-spacing: 0.01em;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000015;
            }

            .footer-content__textContainer {
                margin-top: 2rem;
                display: flex;
                gap: 2rem;

                @include breakpoint($sm-bp) {
                    flex-direction: column;
                    gap: 1rem;
                }

                .footer-content__helper {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    @include breakpoint($sm-bp) {
                        gap: 1rem;
                    }

                    .footer-content__item {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .footer-content__title {
                            font-weight: 400;
                            font-size: 1.8rem;
                            line-height: 2.5rem;
                            letter-spacing: 0.01em;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #000015;
                        }

                        .footer-content__subtitle {
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 2.2rem;
                            letter-spacing: 0.01em;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #000015;
                            text-decoration: none;
                        }
                    }  
                }

                .footer-content__helper:first-child {
                    width: 60%;

                    @include breakpoint($xl-bp) {
                        width: 78%;
                    }

                    @include breakpoint($sm-bp) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .footer-politick {
        width: 28%;
        margin-top: 6rem;

        @include breakpoint($ssh-bp) {
            width: 31%;
        }

        @include breakpoint($xl-bp) {
            width: 51%;
        }

        @include breakpoint($lb-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            margin-top: 5rem;
        }

        p, a {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 0.01em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #36456F;
            text-decoration: none;
        }
    }

    
}