.footer {
    margin-top: 18rem;
    background: #EBEDF1;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint($xl-bp) {
        margin-top: 9rem;
    }

    @include breakpoint($sm-bp) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .footer-upperContainer__imgContainer {
        width: 18%;

        @include breakpoint($xl-bp) {
            width: 34%;
        }

        @include breakpoint($sm-bp) {
            width: 65%;
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .footer-content {
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;

        @include breakpoint($lb-bp) {
            flex-direction: column;
        }


        .footer-content__links {
            display: flex;
            gap: 2rem;

            @include breakpoint($xl-bp) {
                flex-direction: column;
            }

            @include breakpoint($sm-bp) {
                gap: 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @include breakpoint($sm-bp) {
                    gap: 1rem;
                }
            }

            ul:first-child {
                width: 57%;

                @include breakpoint($xl-bp) {
                    width: 100%;
                }
            }

            a {
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.7rem;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000015;
                text-decoration: none;
                width: fit-content;

                position: relative;
                transition: all 0.2s ease-in-out;

                &::before {
                    content: '';
                    background: #000015;
                    display: block;
                    position: absolute;
                    bottom: -0.3rem;
                    left: 0;
                    width: 0;
                    height: 0.1rem;
                }

                &:hover::before {
                    width: 100%;
                    transition: all 0.2s ease-in-out;
                }

                @include breakpoint($sm-bp) {
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }
        }

        .footer-content__contacts {
            width: 42%;

            @include breakpoint($ssh-bp) {
                padding-left: 6rem;
                padding-right: 6rem;
            }

            @include breakpoint($xl-bp) {
                width: 80%;
            }

            @include breakpoint($lb-bp) {
                width: 100%;
                padding: 0rem;
                margin-top: 2rem;
            }

            h2 {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.7rem;
                letter-spacing: 0.01em;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000015;
            }

            .footer-content__textContainer {
                margin-top: 2rem;
                display: flex;
                gap: 2rem;

                @include breakpoint($sm-bp) {
                    flex-direction: column;
                    gap: 1rem;
                }

                .footer-content__helper {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    @include breakpoint($sm-bp) {
                        gap: 1rem;
                    }

                    .footer-content__item {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .footer-content__title {
                            font-weight: 400;
                            font-size: 1.8rem;
                            line-height: 2.5rem;
                            letter-spacing: 0.01em;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #000015;
                        }

                        .footer-content__subtitle {
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 2.2rem;
                            letter-spacing: 0.01em;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #000015;
                            text-decoration: none;
                        }
                    }
                }

                .footer-content__helper:first-child {
                    width: 60%;

                    @include breakpoint($xl-bp) {
                        width: 78%;
                    }

                    @include breakpoint($sm-bp) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .footer-politick {
        width: 28%;
        margin-top: 6rem;

        @include breakpoint($ssh-bp) {
            width: 31%;
        }

        @include breakpoint($xl-bp) {
            width: 51%;
        }

        @include breakpoint($lb-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            margin-top: 5rem;
        }

        p,
        a {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.2rem;
            letter-spacing: 0.01em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #36456F;
            text-decoration: none;

            
        }
    }
}

.alertForm {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.alertForm.open {
    opacity: 1;
}

.alertForm-content {
    border-radius: 1rem;
    background: #36456F;
    margin: 15% auto;
    padding: 6rem;
    width: 35%;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    @include breakpoint($ssh-bp) {
        width: 43%;
    }

    @include breakpoint($xl-bp) {
        width: 65%;
    }

    @include breakpoint($lb-bp) {
        width: 90%;
        padding: 3rem;
    }



    h2 {
        font-size: 4.6rem;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.046rem;
        color: #FFF;

        @include breakpoint($sm-bp) {
            font-size: 2.4rem;
            font-weight: 500;
            letter-spacing: 0.024rem;
            margin-bottom: 1.5rem;
        }
    }

    p {
        color: #FFF;
        font-size: 2rem;
        font-weight: 400;
        line-height: normal;
        width: 80%;

        @include breakpoint($sm-bp) {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.016rem;
        }
    }

    .close {
        line-height: 3.5rem;
    }
}

.alertForm.open .alertForm-content {
    transform: translateY(0);
    opacity: 1;
}