.gallery__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  img {
    border-radius: 1rem;
  }
}
.gallery-photo-33 {
  width: calc(33.3333% - 1.3333rem);
}
.gallery-photo-40 {
  width: calc(40% - 1rem);
}
.gallery-photo-60 {
  width: calc(60% - 1rem);
}

.gallery__more-btn {
  margin: 4rem auto 0;
}
