.info-aside {
  width: 100%;
  max-width: 41.5rem;
  min-width: 35rem;

  overflow: hidden;

  border: 0.1rem solid #36456f;
  border-radius: 1rem;
}
.info-aside__link {
  font-size: 1.6rem;
  color: #36456f;
  text-align: center;
  text-decoration: none;
  line-height: 1.375;

  padding: 1.5rem;

  &:not(:first-child) {
    border-top: 0.1rem solid #36456f;
  }

  &:hover {
    background: lighten(#36456f, 55%);
  }

  &.active {
    background: #36456f;
    color: white;
  }
}

.general-info__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.general-info__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  min-height: 22.6rem;

  padding: 2rem;

  background: #ebedf1;
  border-radius: 1rem;

  &.gi-item--25 {
    flex-basis: calc(33.3333% - 1.3333rem);
  }
  &.gi-item--50 {
    flex-basis: calc(50% - 1rem);
  }
  &.gi-item--100 {
    flex-basis: 100%;
  }
  &.gi-item--col-2 {
    .general-info__item-descr {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6rem;
    }
  }
}
.general-info__item-title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #000015;
}
.general-info__item-descr {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #000015;

  a {
    display: inline-block;

    color: #36456f;
  }
}
