.links-table {
  overflow: hidden;

  border: 0.1rem solid #ebedf1;
  border-radius: 1rem;
}

.links-table__row {
  padding: 1.2rem 2rem;

  &:nth-child(odd) {
    background: #ebedf1;
  }
  &:nth-child(even) {
    background: white;
  }

  a {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.33;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    color: #36456f;
  }
}
