.page {
  .management__inner {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    margin-bottom: 4rem;
  }
  .info__item {
    width: 100%;
    max-width: 62.2rem;

    padding: 2rem;

    background: #ebedf1;
    border-radius: 1rem;
  }
  .info__item-img {
    margin-bottom: 2.5rem;

    border-radius: 1rem;
  }
  .info__item-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .info__item-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .info__item-prop {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.35;
    color: #000015;
  }
  .info__item-value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.35;
    color: #000015;
  }
}
