.page {
  .page__inner {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #000015;

    margin-bottom: 2rem;
  }

  p,
  ol,
  ul {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.35;
    color: #000015;
  }

  ul {
    list-style: disc inside;
  }
  ol {
    list-style: decimal inside;
  }
}

.page-title {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000015;

  margin-bottom: 4rem;
}
