
<div class="footer paddingContainer">
    <a href="#" class="footer-upperContainer__imgContainer">
        <svg>
            <use href="#logo"></use>
        </svg>
    </a>

    <div class="footer-content">
        <div class="footer-content__links">
            <ul>
                <li><a href="#">Сведения об образовательной организации</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Информация по противодействию коррупции</a></li>
            </ul>

            <ul>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Министерство просвещения</a></li>
            </ul>
        </div>
    
        <div class="footer-content__contacts">
            <h2>
                Контакты
            </h2>
    
            <div class="footer-content__textContainer">
                <div class="footer-content__helper">
                    <div class="footer-content__item">
                        <p class="footer-content__title">
                            Адрес
                        </p>
            
                        <p class="footer-content__subtitle">
                            153000, Ивановская область, г.Иваново, ул. 10 Августа д.4, кб.43 (приемная комиссия, учебная часть)
                        </p>
                    </div>
        
                    <div class="footer-content__item">
                        <p class="footer-content__title">
                            Телефон
                        </p>
            
                        <a href="#" class="footer-content__subtitle">
                            8 (4932) 93-85-14
                        </a>
                    </div>
                </div>
    
                <div class="footer-content__helper">
                    <div class="footer-content__item">
                        <p class="footer-content__title">
                            График работы
                        </p>
            
                        <p class="footer-content__subtitle">
                            Пн. – Пт. с 9:00 до 16:00, Сб. – Вс. выходные
                        </p>
                    </div>
        
                    <div class="footer-content__item">
                        <p class="footer-content__title">
                            E-mail
                        </p>
            
                        <a href="#" class="footer-content__subtitle">
                            ivgtl@mail.ru
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-politick">
        <p>© 2016 — <span></span> Ивановский гуманитарно-технический колледж</p>
        <a href="#">Политика конфиденциальности</a>
    </div>
</div>


<div id="alertForm" class="alertForm">
    <div class="alertForm-content">
        <span class="close">&times;</span>
        <h2>Заявка отправлена!</h2>
        <p>Консультант свяжется с вами в ближайшее время.</p>
    </div>
</div>