<div class="header paddingContainer">
    <div class="header-upperContainer">
        <div class="header-upperContainer__logoContainer">
            <a class="header-upperContainer__imgContainer">
                <!-- <svg>
                    <use href="#logo"></use>
                </svg> -->
                <img src="../assets/images/header/logo.jpg" alt="#">
            </a>

            <ul class="header-upperContainer__burgerContainer">
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <div class="header-upperContainer__searchContainer">
                <svg>
                    <use href="#searchIco"></use>
                </svg>
            </div>
        </div>

        <div class="header-upperContainer__licence">
            <p>Лицензия: №ЛО35-01298-77/00181955 от 13.08.2019
                Аккредитация №005066 от 17.02.2023</p>
            <p>г. Иваново, ул. 10 Августа, д.4<br>
                Пн. – Пт. с 9:00 до 16:00,<br>
                Сб. – Вс. выходные</p>
        </div>

        <div class="header-upperContainer__phoneContainer">
            <a href="#">
                <svg>
                    <use href="#phoneIco"></use>
                </svg>
                <span>+7 (4932) 93-85-14</span>
            </a>

            <button>Личная студия RoWeb</button>

            <svg>
                <use href="#eyeIco"></use>
            </svg>
        </div>
    </div>

    <ul class="header-downContainer">
        <li><a href="#">Сведения об образовательной организации</a></li>
        <li><a href="#">Абитуриентам</a></li>
        <li><a href="#">Студентам</a></li>
        <li><a href="#">Практика</a></li>
        <li><a href="#">Ссылки</a></li>
        <li><a href="#">Галерея</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</div>