<div class="header paddingContainer">
    <div class="header-upperContainer">
        <div class="header-upperContainer__logoContainer">
            <a href="#" class="header-upperContainer__imgContainer">
                <svg>
                    <use href="#logo"></use>
                </svg>
                <!-- <img src="./assets/images/header/logo.jpg" alt="#"> -->
            </a>

            <div class="header-upperContainer__helper">
                <ul class="header-upperContainer__burgerContainer">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                <div class="header-upperContainer__searchContainer">
                    <svg>
                        <use href="#searchIco"></use>
                    </svg>
                </div>
            </div>
        </div>

        <div class="header-upperContainer__licence">
            <p>Лицензия: №ЛО35-01298-77/00181955 от 13.08.2019
                Аккредитация №005066 от 17.02.2023</p>
            <p>г. Иваново, ул. 10 Августа, д.4<br>
                Пн. – Пт. с 9:00 до 16:00,<br>
                Сб. – Вс. выходные</p>
        </div>

        <div class="header-upperContainer__phoneContainer">
            <a href="tel:+74932938514">
                <svg>
                    <use href="#phoneIco"></use>
                </svg>
                <span>+7 (4932) 93-85-14</span>
            </a>

            <button>Личная студия RoWeb</button>

            <a href="#" class="eyeIco">
                <svg>
                    <use href="#eyeIco"></use>
                </svg>
            </a>
        </div>
    </div>

    <ul class="header-downContainer">
        <li><a href="#">Сведения об образовательной организации</a></li>
        <li><a href="#">Абитуриентам</a></li>
        <li><a href="#">Студентам</a></li>
        <li><a href="#">Практика</a></li>
        <li><a href="#">Ссылки</a></li>
        <li><a href="#">Галерея</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <ul>
            <li class="dropdown-container">
                <p class="dropdown-link">
                    <span>Сведения об образовательной организации</span>
                    <svg>
                        <use href="#chevron"></use>
                    </svg>
                </p>
                <div class="dropdown-list">
                    <div class="dropdown-list-inner">
                        <ul>
                            <li><a href="#">Основные сведения</a></li>
                            <li><a href="#">Структура и органы управления образовательной организации</a></li>
                            <li><a href="#">Документы</a></li>
                            <li><a href="#">Образование</a></li>
                            <li><a href="#">Образовательные стандарты и требования</a></li>
                            <li><a href="#">Руководство. Педагогический (научно-педагогический состав)</a></li>
                            <li><a href="#">Материально-техническое обеспечение и оснащённость образовательного процесса</a></li>
                            <li><a href="#">Стипендии и иные меры материальной поддержки</a></li>
                            <li><a href="#">Платные образовательные услуги</a></li>
                            <li><a href="#">Финансово-хозяйственная деятельность</a></li>
                            <li><a href="#">Вакантные места для приема (перевода) обучающихся</a></li>
                            <li><a href="#">Доступная среда</a></li>
                            <li><a href="#">Международное сотрудничество</a></li>
                        </ul>
                    </div>
                </div>
            </li>

            <li><a href="#">Абитуриентам</a></li>

            <li class="dropdown-container">
                <p class="dropdown-link">
                    <span>Студентам</span>
                    <svg>
                        <use href="#chevron"></use>
                    </svg>
                </p>
                <div class="dropdown-list">
                    <div class="dropdown-list-inner">
                        <ul>
                            <li><a href="#">Основные сведения</a></li>
                            <li><a href="#">Структура и органы управления образовательной организации</a></li>
                            <li><a href="#">Документы</a></li>
                            <li><a href="#">Образование</a></li>
                            <li><a href="#">Образовательные стандарты и требования</a></li>
                            <li><a href="#">Руководство. Педагогический (научно-педагогический состав)</a></li>
                            <li><a href="#">Материально-техническое обеспечение и оснащённость образовательного процесса</a></li>
                            <li><a href="#">Стипендии и иные меры материальной поддержки</a></li>
                            <li><a href="#">Платные образовательные услуги</a></li>
                            <li><a href="#">Финансово-хозяйственная деятельность</a></li>
                            <li><a href="#">Вакантные места для приема (перевода) обучающихся</a></li>
                            <li><a href="#">Доступная среда</a></li>
                            <li><a href="#">Международное сотрудничество</a></li>
                        </ul>
                    </div>
                </div>
            </li>

            <li><a href="#">Практика</a></li>

            <li><a href="#">Ссылки</a></li>

            <li><a href="#">Галерея</a></li>

            <li><a href="#">Новости</a></li>

            <li><a href="#">Контакты</a></li>
        </ul>

        <div class="modal-content__phoneHelper"></div>
        <div class="modal-content__licenceHelper"></div>
    </div>
</div>